Code/XML/DTD/segnalazioniDTD.dtd

<!ELEMENT segnalazioni (segnalazione*)>
<!ELEMENT segnalazione (utenteSegnalatore+, data+, codicePostSegnalato+, codiceDiscussione+, motivazione+, utenteCreatorePost+, stato+, risaltoAdmin?)>
<!ELEMENT utenteSegnalatore (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT codicePostSegnalato (#PCDATA)>
<!ELEMENT codiceDiscussione (#PCDATA)>
<!ELEMENT motivazione (#PCDATA)>
<!ELEMENT utenteCreatorePost (#PCDATA)>
<!ELEMENT stato (#PCDATA)>
<!ELEMENT risaltoAdmin (#PCDATA)>
